{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<p>Your password has been reset. You should now be able to login.</p>
<p><a class="btn" href="{{ login_url }}">Login</a></p>
{% endblock %}