@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Anton', sans-serif;
    background-color: #ffdeb6;
}

.nav-bg {
    background-color: #000;
}

.search-box {
    border-color: #ffdeb6;
}

.btn {
    color: #ffdeb6;
    border-color: #ffdeb6;
    background-color: #000;
}

.btn:hover {
    background-color:#464646;
    color: #ffdeb6;
    border-color: #ffdeb6;
}

.listing {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row .row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    margin-bottom: 20px;
}

.panel-body {
    height: 100%;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    background-color: #000;
    color: #ffdeb6;
}


.listing-page-description {
    border-radius: 5px;
    border: 1px solid #000;
    margin: 20px 0;
    padding: 5px;
}

.listing-description {
    min-height: 40px;
}

.listing-center {
    text-align: center;
}

.listing-card {
    margin-bottom: 20px;
}

.listing-image {
    max-width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.form-control {
    color: #c5c5c5;
    background-color: #000;
}

.page_title {
    margin-top:20px;
}