{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js} %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  //<![CDATA]
  Stripe.publishableKey = "{{ publishable }}";
  //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %}
<div class="row row-flex">
  {% for item in cart_items %}
  <div
    class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default"
  >
    <div class="panel-body">
      <div
        class="listing"
        style="background-image: url('{{ MEDIA_URL }}{{ item.listing.image }}'"
      ></div>
      <h3>{{ item.listing.title }}</h3>
      <p class="listing-description">
        {{ item.listing.description|truncatewords:15 }}
      </p>
      <p>{{ item.listing.location }}</p>
      <p>Collection Only</p>
      <p>Price: £{{ item.listing.price }}</p>
    </div>
  </div>

  {% endfor %}
</div>
<div class="row">
  <p>Total</p>
  <p>£{{ total }}</p>
</div>
<form role="form" action="{% url 'checkout' %}" method="post" id="payment-form">
  <legend>Payment Details</legend>
  <div id="credit-card-errors" style="display: none;">
    <div
      class="alert-message block-message error"
      id="stripe-error-message"
    ></div>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      {{ order_form|as_bootstrap }}
    </div>
    <div class="form-group col-sm-12 col-md-6">
      {{ payment_form|as_bootstrap}} {% csrf_token %}
      <div class="form-group col-md-12">
        <input
          type="submit"
          value="Make Payment"
          class="btn"
          id="submit_payment_btn"
          name="commit"
        />
      </div>
    </div>
  </div>
</form>
{% endblock %}
