{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
    
    <form method="POST">
      {% csrf_token %} {{ login_form|as_bootstrap }}
      <button class="btn" type="submit">Login</button>
    </form>

    <p><a class="btn" href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endblock %}

