{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Registration Page{% endblock %}
{% block page_heading %}User Registration{% endblock %} {% block content %}

<p>
  If you already have an account, you can
  <a href="{% url 'login' %}">sign in</a>
</p>
<form method="POST">
  {% csrf_token %} {{ registration_form|as_bootstrap }}
  <button class="btn" type="submit">Register</button>
</form>

{% endblock %}
