{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Cart{% endblock %}
{% block page_heading %}Cart{% endblock %}
{% block content %}

<div class="row row-flex listing-card">
  {% for item in cart_items %}
  <div
    class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default"
  >
    <div class="panel-body">
      <div
        class="listing"
        style="background-image: url('{{ MEDIA_URL }}{{ item.listing.image }}'"
      ></div>
      <div class="caption">
        <div class="listing-center">
          <h3>{{ item.listing.title }}</h3>
          <p>£{{ item.listing.price }}</p>
        </div>
        <form
          class="form-inline"
          method="post"
          action="{% url 'delete_item' item.id %}"
        >
          {% csrf_token %}
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label for="exampleInputAmount" class="sr-only"
                  >Delete Item</label
                >
                <div class="input-group">
                  <div class="input-group-addon">
                    <input
                      name="quantity"
                      type="number"
                      min="0"
                      max="1"
                      class="form-control"
                      placeholder="1"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <button class="btn" type="submit">Delete</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
<div class="row">
  <p>Total</p>
  <p>
    <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>£{{ total }}
  </p>
  <a href="{% url 'checkout' %}" class="btn btn-success" role="button"
    ><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span
    >Checkout</a
  >
</div>

{% endblock %}
