{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'font-awesome/css/font-awesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block head_js %} {% endblock head_js %}
    <title>{% block page_title %}{% endblock %}</title>
  </head>

  <body>
    <!--Navbar-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
        <a class="navbar-brand" href="{% url 'index' %}">Junk To Your Trunk</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_listings' %}">All Listings</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'create_listing' %}"
                >Create Listing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_cart' %}">
                <i class="fa fa-shopping-cart"></i> Cart
                {% if listing_count > 0 %}
                <label class="badge badge-warning">{{ listing_count }}</label>
                {% endif %}
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registration' %}">Register</a>
            </li>
            {% endif %}
          </ul>
          <form
            action="{% url 'search' %}"
            method="get"
            class="form-inline my-2 my-lg-0"
          >
            <input
              id="searchbar"
              class="form-control search-box mr-sm-2"
              type="text"
              name="q"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </header>
    <div class="container main-content">
      <h1 class="page_title">{% block page_heading %}{% endblock %}</h1>
      <hr />
      {% if messages %}
      <div>
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %} {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-menu col-sm-12 col-md-4">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'terms' %}">Terms & Conditions</a>
              </li>
            </ul>
          </div>
          <hr />
          <div class="col-sm-12 col-md-4">
            <h4 class="footer-heading">Follow Us On Social Media</h4>
            <div class="row social-icons">
              <div class="col-4">
                <a href=""><i class="fa fa-facebook-square"></i></a>
              </div>
              <div class="col-4">
                <a href=""><i class="fa fa-instagram"></i></a>
              </div>
              <div class="col-4">
                <a href=""><i class="fa fa-twitter-square"></i></a>
              </div>
            </div>
          </div>
          <hr />
          <div class="support col-sm-12 col-md-4">
            <h3 class="support-heading">Support</h3>
            <p>Email us: Support@junktoyourtrunk.com</p>
            <p>Phone: 020 1234 4321</p>
          </div>
        </div>
      </div>
    </footer>
    <script>
      $(".carousel").carousel("cycle")({
        interval: 2000,
      });
    </script>
  </body>
</html>
