{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Create Listing{% endblock %}

{% block page_heading %}Create Listing{% endblock %}

{% block content %}

<form method="POST" action="">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% csrf_token %} {{ form|as_bootstrap }}
    </div>
    <div class="col-sm-12 col-md-6">
      <!-- <img src="{{ listing.image }}" alt="Listing Image Preview"> -->
      <button type="submit">Post Listing</button>
    </div>
  </div>
</form>

{% endblock %}
