{% extends 'base.html' %} {% load bootstrap_tags %} 
{% block page_title %}Listings{% endblock %}
{% block page_heading %}All Listings{% endblock %}
{% block content %}

<div class="row">
  {% for listing in listings %}
  <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
    <div class="panel-body">
      <div
        class="listing"
        style="background-image: url('{{ MEDIA_URL }}{{ listing.image }}'"
      ></div>
      <h3>{{ listing.title }}</h3>
      <p class="listing-description">{{ listing.description|truncatewords:15 }}</p>
      <p>{{ listing.location }}</p>
      <p>Collection Only</p>
      <p>Price: £{{ listing.price }}</p>
      <a class="btn see-more-btn" href="{% url 'get_listing' listing.id %}">See More</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
