{% extends 'base.html' %} {% load bootstrap_tags %}
{% block page_title %}{{ listing.title }}{% endblock %}
{% block page_heading %}{{ listing.title }}{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-9 listing-page-content">
    <div>
      <img
        src="{{ MEDIA_URL }}{{ listing.image }}"
        alt="Listing Image"
        class="listing-image"
      />
    </div>
    <div class="listing-page-description">
      <h4>Description:</h4>
      <p>{{ listing.description}}</p>
    </div>
    <div class="listing-page-location">
      <p>Location: {{ listing.location }}</p>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="listing-price">
      <p>Price: £{{ listing.price }}</p>
    </div>
    <form method="post" action="{% url 'add_to_cart' listing.id %}">
      {% csrf_token %}
      <div class="input-group">
        <select name="quantity"
          ><option value="1">1</option></select
        >
        <span class="input-group-btn">
          <button class="btn" type="submit">Add to cart</button>
        </span>
      </div>
    </form>
  </div>
</div>

{% endblock %}
