{% extends 'base.html' %} {% load bootstrap_tags %} 
{% block page_title %}Terms{% endblock %}
{% block page_heading %}Terms and Conditions{% endblock %}
{% block content %}

<p>This website has been built as a portfolio site, and is not currently actively trading.
<br><br>
Any payment attempts made via the checkout will not be processed, as it is currently only functional for test payments.
<br><br>
All listings on this site are purely demonstrational, and do not really exist.
</p>
{% endblock %}
